@using System.Data;
@using CSharp_Project.Models;
@using Newtonsoft.Json;
@{

    string json = System.IO.File.ReadAllText(Server.MapPath(@"~\App_Data\songs.json"));
    Songs songs = JsonConvert.DeserializeObject<Songs>(json);

    foreach (Song song in songs.songs)
    {
        string id = songs.id;
        string artist = songs.artist;
        string song = songs.song;
        string duration =  songs.duration;
        string category = songs.category;
        string year = songs.year;
    }
}
<br />
<h2>Json lijst</h2>
<br />
<br />
<br />
@{
    <a href="create">Toevoegen</a>
}
<br />
<br />
<table>
   
</table>
