@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>L&M music</h1>
    <p class="lead">De beste muziek applicaite van Nederland </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Info </h2>
        <p>
        lekker muziek luisteren , verwijderen als je de nummers slecht vind en goede nummers toevoegen dat kan allemaal met L&M music
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Playlist xml</h2>
        <p>deze playlist is gemaakt met een xml file</p>
        
    </div>
    <div class="col-md-4">
        <h2>Playlist Json</h2>
        <p>deze playlist is gemaakt van een Json file</p>
        
    </div>
</div>